@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

.intro {
    align-items: center;
    gap:30px;
    min-width: 1388px;
    display: flex;
    justify-content: center
}

.sentence {
    color: transparent;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 62px;
    margin-bottom: 8px;
    width: 753px;
}

.span0{
    color: rgba(37,36,34,1);
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
}
.span1{
    color: #ff9800;
}

.photos{
    align-items: flex-start;
    display: flex;
    gap:12px;
    justify-content: flex-end;
    min-width: 605px;
}

.photo3{
    height: 448px;
    object-fit: cover;
    width: 299px;
}

.photo-container{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 448px;
    min-width: 294px;
}

.photo2{
    height: 220px;
    object-fit: cover;
    width: 294px;
}

.photo1{
    height: 220px;
    width: 294px;
}
